.hardyak {
  background-color: #c6e5fb;
}
.aqua {
  background-color: #36f5e2;
}
.darkblue {
  background-color: #3547f4;
  color: #fff;
}
.ice {
  background-color: #6236f5;
  color: #fff;
}
.purple {
  background-color: #a236f5;
}
.lightpurple {
  background-color: #e236f5;
}
.lightpink {
  background-color: #f53689;
  color: #fff;
}
.orange {
  background-color: #f56236;
  color: #fff;
}
.lightorange {
  background-color: #f5a236;
  color: #fff;
}
.lemon {
  background-color: #e8f536;
}
.lime {
  background-color: #a8f536;
}
.salad {
  background-color: #36f562;
}
.water {
  background-color: #36f5a2;
}
.halfpurple {
  background-color: #3689f5;
  color: #fff;
}
.lightblue {
  background-color: #36c8f5;
}
.red {
  background-color: #f53649;
  color: #fff;
}
.lightpurpleice {
  background-color: #f536c8;
}
html, body {
  box-sizing: border-box;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 2;
  margin: 0px;
}
div, td, h2, p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  width: 100%;
  min-height: 100%;
}
.container {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.VKR {
  flex: 0 0 calc(12.5% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title, .titleprof {
  display: flex;
  justify-content: flex-start;
  max-height: 62px;
  width: 100%;
}
.title h2, .titleprof h2 {
  margin: 0;
  display: inline-block;
  background-color: #c6e5fb;
  padding: 10px 9% 10px 27px;
  text-transform: uppercase;
  margin-left: 2px;
  font-size: 22px;
  width:90%;
}
.title div, .titleprof div {
  width: 0;
  height: 0;
  border-top: 62px solid #c6e5fb;
  border-right: 50px solid transparent;
}
.titleprof {
  margin-bottom: 28px;
}
.firsttable {
  margin-top: 1px;
  width: 100%;
}
.firsttable tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.firsttable td {
  width: calc(12.5% - 1px);
  padding-top: 11px;
  padding-bottom: 6px;
  margin-right: 1px;
  text-align: center;
  border-radius: 3px;
}
.firsttable td:last-child() {
  margin-right: 0px;
}
.firsttable .firstrow {
  margin-bottom: 29px;
}
.firsttable .firstrow td {
  background-color: #c3ced5;
}
.firsttable .secondrow td {
  background-color: #fae2c5;
}
.firsttable .secondrow .emptytd {
  background-color: #fff;
}
.maintable {
  display: flex;
  width: 100%;
}
.maintable .VKR {
  background-color: #fae2c5;
}
.maintable .tablescience {
  table-layout: fixed;
  margin-top: 1px;
  width: 88%;
}
.maintable .tablescience tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.maintable .tablescience td {
  width: calc(14.2% - 1px);
  min-height: 70px;
  margin-right: 1px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maintable .tablescience td:last-child {
  margin-right: 0px;
}
.maintable .tablescience .secondrow {
  margin-bottom: 11px;
}
.maintable .tablescience .secondrow .emptytd {
  background-color: #fff;
}
.maintable .tablescience .secondrow:last-child {
  margin-bottom: 0px;
}
.hardtable .hardskills {
  margin-top: 11px;
}
.hardtable .hardskills, .hardtable .pretable {
  display: flex;
}
.hardtable .hardskills .column, .hardtable .pretable .column {
  display: flex;
  flex-direction: column;
  margin-right: 1px;
}
.hardtable .hardskills .column div, .hardtable .pretable .column div {
  margin-bottom: 11px;
}
.hardtable .hardskills .column div:last-child, .hardtable .pretable .column div:last-child {
  margin-bottom: 0px;
}
.hardtable .hardskills .column .aqua, .hardtable .pretable .column .aqua {
  background-color: #36f5e2;
}
.hardtable .hardskills .column .darkblue, .hardtable .pretable .column .darkblue {
  background-color: #3547f4;
  color: #fff;
}
.hardtable .hardskills .column .ice, .hardtable .pretable .column .ice {
  background-color: #6236f5;
  color: #fff;
}
.hardtable .hardskills .column .purple, .hardtable .pretable .column .purple {
  background-color: #a236f5;
}
.hardtable .hardskills .column .lightpurple, .hardtable .pretable .column .lightpurple {
  background-color: #e236f5;
}
.hardtable .hardskills .column .lightpink, .hardtable .pretable .column .lightpink {
  background-color: #f53689;
  color: #fff;
}
.hardtable .hardskills .column .orange, .hardtable .pretable .column .orange {
  background-color: #f56236;
  color: #fff;
}
.hardtable .hardskills .column .lightorange, .hardtable .pretable .column .lightorange {
  background-color: #f5a236;
  color: #fff;
}
.hardtable .hardskills .column .lemon, .hardtable .pretable .column .lemon {
  background-color: #e8f536;
}
.hardtable .hardskills .column .lime, .hardtable .pretable .column .lime {
  background-color: #a8f536;
}
.hardtable .hardskills .column .salad, .hardtable .pretable .column .salad {
  background-color: #36f562;
}
.hardtable .hardskills .column .water, .hardtable .pretable .column .water {
  background-color: #36f5a2;
}
.hardtable .hardskills .column .halfpurple, .hardtable .pretable .column .halfpurple {
  background-color: #3689f5;
  color: #fff;
}
.hardtable .hardskills .column .lightblue, .hardtable .pretable .column .lightblue {
  background-color: #36c8f5;
}
.hardtable .hardskills .column .red, .hardtable .pretable .column .red {
  background-color: #f53649;
  color: #fff;
}
.hardtable .hardskills .column .lightpurpleice, .hardtable .pretable .column .lightpurpleice {
  background-color: #f536c8;
}
.hard, .twohard, .threehard {
  background-color: lightblue;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hard {
  min-height: 70px;
}
.profskills, .profmathskills {
  display: flex;
}
.profskills .secondrow, .profmathskills .secondrow {
  margin-bottom: 11px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profskills .secondrow td, .profmathskills .secondrow td {
  padding-top: 11px;
  padding-bottom: 6px;
  margin-right: 1px;
  text-align: center;
  border-radius: 5px;
  width: calc(14.2% - 1px);
}
.profskills .secondrow:last-child, .profmathskills .secondrow:last-child {
  margin-bottom: 0px;
}
.profmathskills .secondrow td {
  background-color: #c09a72;
  color: #fff;
}
.profskills .secondrow td {
  background-color: #ffca93;
}
.softsemestr, .mathsemestr {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #c3ced5;
  margin-right: 1px;
  border-radius: 5px;
}
.colortable {
  background-color: #f0f0f0;
  margin-right: 20px;
  border-radius: 5px;
}
.colortable h2 {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}
.colortable .colors {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 7px;
}
.colortable .colors .colorcol .colorpro {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.colortable .colors .colorcol .colorpro p {
  font-weight: bold;
}
.colortable .colors .colorcol .colorpro .colorid {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  margin-right: 8px;
}
.default {
  background-color: #fae2c5;
}
.matyan {
  background-color: #c09a72;
  color: #fff;
}
.softyar {
  background-color: #ffca93;
}
.container2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: 33px 54px 54px 54px;
  column-gap: 1px;
  row-gap: 11px;
  grid-template-areas: "S1 S2 S3 S4 S5 S6 S7 S8" "K8 K8 K8 K8 K1 K2 K7 E" "K8 K8 K8 K8 K3 K4 K7 E" "K8 K8 K8 K8 K5 K6 K7 E";
}
.skillblue {
  background-color: #36c8f5;
}
.empty {
  display: grid;
  grid-area: E;
}
.skillpink {
  background-color: #f53689;
}
.skillgreen {
  background-color: #a8f536;
}
[class^="learnsem"] {
  background-color: #c3ced5;
  text-align: center;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learnsem1 {
  grid-area: S1;
}
.learnsem2 {
  grid-area: S2;
}
.learnsem3 {
  grid-area: S3;
}
.learnsem4 {
  grid-area: S4;
}
.learnsem5 {
  grid-area: S5;
}
.learnsem6 {
  grid-area: S6;
}
.learnsem7 {
  grid-area: S7;
}
.learnsem8 {
  grid-area: S8;
}
[class^="skill"] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}
.skill1 {
  grid-area: K1;
}
.skill2 {
  grid-area: K2;
}
.skill3 {
  grid-area: K3;
}
.skill4 {
  grid-area: K4;
}
.skill5 {
  grid-area: K5;
}
.skill6 {
  grid-area: K6;
}
.skill7 {
  grid-area: K7;
}
.skill8 {
  grid-area: K8;
}
@media (max-width: 765px) {
  .container2 {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-areas: "S5 S6 S7" "K1 K2 K7" "K3 K4 K7" "K5 K6 K7";
 }
  .learnsem1, .learnsem2, .learnsem3, .learnsem4, .learnsem8, .empty, .skill8 {
    display: none;
 }
}
.maintable {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 12.4%);
  grid-template-rows: 33px repeat(11, 72px);
  column-gap: 1px;
  row-gap: 11px;
  grid-template-areas: "M1 M2 M3 M4 M5 M6 M7 M8" "PH PH PH PH PH PH E1 VK" "HI PI CO BU SO SO2 SO3 VK" "BZ FI FI MA MI E2 E2 VK" "EN EN H1 H3 H4 H6 H7 VK" "MT MT TH AL MY MY2 MY3 VK" "PA PA LO DI E3 E3 E3 VK" "IN EG E4 SP H2 H5 H8 VK" "PR PR PY OP AN MO PJ VK" "E7 E7 WE CS SY PG IO VK" "E7 E7 DA CM VI E6 E6 VK" "LT PP PP PP PP PP PP VK";
}
.maintable div {
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
}
[class^="mustsem"] {
  background-color: #c3ced5;
  text-align: center;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mustsem1 {
  grid-area: M1;
}
.mustsem2 {
  grid-area: M2;
}
.mustsem3 {
  grid-area: M3;
}
.mustsem4 {
  grid-area: M4;
}
.mustsem5 {
  grid-area: M5;
}
.mustsem6 {
  grid-area: M6;
}
.mustsem7 {
  grid-area: M7;
}
.mustsem8 {
  grid-area: M8;
}
.fizra {
  grid-area: PH;
  background-color: #fae2c5;
  display: flex;
}
.empty1 {
  grid-area: E1;
}
.history {
  grid-area: HI;
  background-color: #fae2c5;
  display: flex;
}
.philosophy {
  grid-area: PI;
  background-color: #fae2c5;
  display: flex;
}
.communication {
  grid-area: CO;
  background-color: #fae2c5;
  display: flex;
}
.buisness {
  grid-area: BU;
  background-color: #fae2c5;
  display: flex;
}
.softyar {
  grid-area: SO;
  background-color: #ffca93;
  display: flex;
}
.bzd {
  grid-area: BZ;
  background-color: #fae2c5;
  display: flex;
}
.physics {
  grid-area: FI;
  background-color: #fae2c5;
  display: flex;
}
.map {
  grid-area: MA;
  background-color: #fae2c5;
  display: flex;
}
.mainor {
  grid-area: MI;
  background-color: #fae2c5;
  display: flex;
}
.empty2 {
  grid-area: E2;
}
.english {
  grid-area: EN;
  background-color: #fae2c5;
  display: flex;
}
.hardyak {
  grid-area: H1;
  background-color: #c6e5fb;
  display: flex;
}
.maths {
  grid-area: MT;
  background-color: #fae2c5;
  display: flex;
}
.theory {
  grid-area: TH;
  background-color: #fae2c5;
  display: flex;
}
.algoritms {
  grid-area: AL;
  background-color: #fae2c5;
  display: flex;
}
.matyan {
  grid-area: MY;
  background-color: #c09a72;
  color: #fff;
  display: flex;
}
.partmath {
  grid-area: PA;
  background-color: #fae2c5;
  display: flex;
}
.logic {
  grid-area: LO;
  background-color: #fae2c5;
  display: flex;
}
.discret {
  grid-area: DI;
  background-color: #fae2c5;
  display: flex;
}
.empty3 {
  grid-area: E3;
  display: flex;
}
.inftechnology {
  grid-area: IN;
  background-color: #fae2c5;
  display: flex;
}
.engineer {
  grid-area: EG;
  background-color: #fae2c5;
  display: flex;
}
.empty4 {
  grid-area: E4;
  display: flex;
}
.specialisation {
  grid-area: SP;
  background-color: #fae2c5;
  display: flex;
}
.hardyak2 {
  grid-area: H2;
  background-color: #c6e5fb;
  display: flex;
}
.programming {
  grid-area: PR;
  background-color: #fae2c5;
  display: flex;
}
.python {
  grid-area: PY;
  background-color: #fae2c5;
  display: flex;
}
.operation {
  grid-area: OP;
  background-color: #fae2c5;
  display: flex;
}
.analytic {
  grid-area: AN;
  background-color: #fae2c5;
  display: flex;
}
.model {
  grid-area: MO;
  background-color: #fae2c5;
  display: flex;
}
.project {
  grid-area: PJ;
  background-color: #fae2c5;
  display: flex;
}
.empty7 {
  grid-area: E7;
}
.web {
  grid-area: WE;
  background-color: #fae2c5;
  display: flex;
}
.compnetworks {
  grid-area: CS;
  background-color: #fae2c5;
  display: flex;
}
.sysengineer {
  grid-area: SY;
  background-color: #fae2c5;
  display: flex;
}
.proeng {
  grid-area: PG;
  background-color: #fae2c5;
  display: flex;
}
.infpro {
  grid-area: IO;
  background-color: #fae2c5;
  display: flex;
}
.empty5 {
  grid-area: E5;
}
.database {
  grid-area: DA;
  background-color: #fae2c5;
  display: flex;
}
.computers {
  grid-area: CM;
  background-color: #fae2c5;
  display: flex;
}
.virtual {
  grid-area: VI;
  background-color: #fae2c5;
  display: flex;
}
.empty6 {
  grid-area: E6;
}
.learnproject {
  grid-area: LT;
  background-color: #fae2c5;
  display: flex;
}
.projprac {
  grid-area: PP;
  background-color: #fae2c5;
  display: flex;
}
.VKR {
  grid-area: VK;
  background-color: #fae2c5;
  display: flex;
}
.fizra2 {
  display: none;
  background-color: #fae2c5;
  grid-area: PH2;
}
.physics2 {
  display: none;
  background-color: #fae2c5;
  grid-area: FI2;
}
.hardyak3 {
  display: flex;
  background-color: #c6e5fb;
  grid-area: H3;
}
.projprac2 {
  display: none;
  background-color: #fae2c5;
  grid-area: PP2;
}
.fizra3 {
  display: none;
  background-color: #fae2c5;
  grid-area: PH3;
}
.softyar2 {
  display: flex;
  background-color: #ffca93;
  grid-area: SO2;
}
.projprac3 {
  display: none;
  background-color: #fae2c5;
  grid-area: PP3;
}
.hardyak4 {
  display: flex;
  background-color: #c6e5fb;
  grid-area: H4;
}
.matyan2 {
  display: flex;
  background-color: #c09a72;
  color: #fff;
  grid-area: MY2;
}
.hardyak5 {
  display: flex;
  background-color: #c6e5fb;
  grid-area: H5;
}
.projprac4 {
  display: none;
  background-color: #fae2c5;
  grid-area: PP4;
}
.softyar3 {
  display: flex;
  background-color: #ffca93;
  grid-area: SO3;
}
.hardyak6 {
  display: flex;
  background-color: #c6e5fb;
  grid-area: H6;
}
.hardyak7 {
  display: flex;
  background-color: #c6e5fb;
  grid-area: H7;
}
.matyan3 {
  display: flex;
  background-color: #c09a72;
  color: #fff;
  grid-area: MY3;
}
.hardyak8 {
  display: flex;
  background-color: #c6e5fb;
  grid-area: H8;
}
@media (max-width: 765px) {
  .maintable {
    grid-template-columns: repeat(2, 49.9%);
    grid-template-rows: 33px repeat(9, 70px) 33px repeat(11, 70px) 33px repeat(10, 70px) 33px repeat(7, 70px);
    grid-template-areas: "M1 M2" "PH PH" "HI PI" "BZ FI" "EN EN" "MT MT" "PA PA" "IN EG" "PR PR" "LT PP" "M3 M4" "PH2 PH2" "CO BU" "FI2 MA" "H3 H6" "TH AL" "LO DI" "E1 SP" "PY OP" "WE CS" "DA CM" "PP2 PP2" "M5 M6" "PH3 PH3" "SO SO3" "MI E2" "H1 H7" "MY MY" "H2 H8" "AN MO" "SY PG" "VI E3" "PP3 PP3" "M7 M8" "SO2 VK" "H4 VK" "MY2 VK" "H5 VK" "PJ VK" "IO VK" "PP4 VK";
 }
  .fizra2, .physics2, .hardyak3, .projprac2, .fizra3, .softyar2, .projprac3, .hardyak4, .matyan2, .hardyak5, .projprac4 {
    display: flex;
 }
    .matyan3, .empty5, .empty6, .empty4, .empty7 {
    display: none;
 }
}
.hardtable {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 12.4%);
  column-gap: 1px;
  row-gap: 11px;
  grid-template-rows: 33px repeat(16, 70px);
  grid-template-areas: "D1 D2 TTT TTT D5 D6 D7 D8" "E8 E8 TTT TTT po pa is kr" "E8 E8 TTT TTT po an io kr" "E8 E8 TTT TTT po we se kr" "E8 E8 TTT TTT ma bd cv kr" "E8 E8 TTT TTT ga d3 re kr" "ce ce ce ce te un tt kr" "ce ce ce ce sy c1 sy2 kr" "ce ce ce ce sy ac ig kr" "ce ce ce ce ld sp cp kr" "ce ce ce ce ld mc rt kr" "ce ce ce ce db fd pd kr" "ce ce ce ce ss so ah kr" "ce ce ce ce gh fi ri kr" "ce ce ce ce pr pg ks kr" "ce ce ce ce sl mg ux kr" "ce ce ce ce mt ts sc kr";
}
.hardtable .aqua {
  background-color: #36f5e2;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .darkblue {
  background-color: #3547f4;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .ice {
  background-color: #6236f5;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .purple {
  background-color: #a236f5;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .lightpurple {
  background-color: #e236f5;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .lightpink {
  background-color: #f53689;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .orange {
  background-color: #f56236;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .lightorange {
  background-color: #f5a236;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .lemon {
  background-color: #e8f536;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .lime {
  background-color: #a8f536;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .salad {
  background-color: #36f562;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .water {
  background-color: #36f5a2;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .halfpurple {
  background-color: #3689f5;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .lightblue {
  background-color: #36c8f5;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .red {
  background-color: #f53649;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .lightpurpleice {
  background-color: #f536c8;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
}
.hardtable .colortable {
  display: block;
}
[class^="hardsem"] {
  background-color: #c3ced5;
  text-align: center;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hardsem1 {
  grid-area: D1;
}
.hardsem2 {
  grid-area: D2;
}
.hardsem3 {
  grid-area: D3;
}
.hardsem4 {
  grid-area: D4;
}
.hardsem5 {
  grid-area: D5;
}
.hardsem6 {
  grid-area: D6;
}
.hardsem7 {
  grid-area: D7;
}
.hardsem8 {
  grid-area: D8;
}
.programmingskills {
  grid-area: TTT;
  display: grid;
  grid-template-columns: repeat(2, 49.9%);
  grid-template-rows: 33px repeat(5, 60px);
  column-gap: 1px;
  row-gap: 11px;
  grid-template-areas: "D3 D4" "jv jv2" "js js2" "ph ph2" "E9 py2" "E9 sh";
}
.java {
  grid-area: jv;
}
.js {
  grid-area: js;
}
.php {
  grid-area: ph;
}
.java2 {
  grid-area: jv2;
}
.js2 {
  grid-area: js2;
}
.php2 {
  grid-area: ph2;
}
.python2 {
  grid-area: py2;
}
.cs {
  grid-area: sh;
}
.proecting {
  grid-area: po;
}
.machine {
  grid-area: ma;
}
.gamedev {
  grid-area: ga;
}
.parallel {
  grid-area: pa;
}
.android {
  grid-area: an;
}
.clientweb {
  grid-area: we;
}
.bigdata {
  grid-area: bd;
}
.d3 {
  grid-area: d3;
}
.is {
  grid-area: is;
}
.ios {
  grid-area: io;
}
.serviceweb {
  grid-area: se;
}
.computervision {
  grid-area: cv;
}
.virtualreal {
  grid-area: re;
}
.colortable {
  grid-area: ce;
}
.testing {
  grid-area: te;
}
.corpinfsys {
  grid-area: sy;
}
.lowdawn {
  grid-area: ld;
}
.admindb {
  grid-area: db;
}
.serversettings {
  grid-area: ss;
}
.graphpock {
  grid-area: gh;
}
.product {
  grid-area: pr;
}
.sysanal {
  grid-area: sl;
}
.marketing {
  grid-area: mt;
}
.unfunctionalset {
  grid-area: un;
}
.programmingc {
  grid-area: c1;
}
.admincorpsys {
  grid-area: ac;
}
.sysprog {
  grid-area: sp;
}
.microcontrol {
  grid-area: mc;
}
.functiondb {
  grid-area: fd;
}
.sendpo {
  grid-area: so;
}
.interface {
  grid-area: fi;
}
.planning {
  grid-area: pg;
}
.manage {
  grid-area: mg;
}
.topsite {
  grid-area: ts;
}
.testingint {
  grid-area: tt;
}
.corpinfsys2 {
  grid-area: sy2;
}
.integration {
  grid-area: ig;
}
.createprog {
  grid-area: cp;
}
.internetthings {
  grid-area: rt;
}
.protectdb {
  grid-area: pd;
}
.architect {
  grid-area: ah;
}
.relaxint {
  grid-area: ri;
}
.risks {
  grid-area: ks;
}
.ux {
  grid-area: ux;
}
.topsocnet {
  grid-area: sc;
}
.vkrhard {
  grid-area: kr;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.empty8 {
  grid-area: E8;
}
.empty9 {
  grid-area: E9;
}
@media (max-width: 765px) {
  .hardtable {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 33px repeat(5, 60px) 33px repeat(27, 60px);
    grid-template-areas: "TTT TTT TTT" "TTT TTT TTT" "TTT TTT TTT" "TTT TTT TTT" "TTT TTT TTT" "TTT TTT TTT" "D5 D6 D7" "po pa is" "po an io" "po we se" "ma bd cv" "ga d3 re" "te un tt" "sy c1 sy2" "sy ac ig" "ld sp cp" "ld mc rt" "db fd pd" "ss so ah" "gh fi ri" "pr pg ks" "sl mg ux" "mt ts sc" "ce ce ce" "ce ce ce" "ce ce ce" "ce ce ce" "ce ce ce" "ce ce ce" "ce ce ce" "ce ce ce" "ce ce ce" "ce ce ce" "ce ce ce";
 }
  .hardtable .colortable {
    margin: 0;
 }
  .hardtable .colortable .colors {
    flex-wrap: wrap;
    justify-content: flex-start;
 }
  .hardtable .vkrhard, .hardtable .hardsem1, .hardtable .hardsem2, .hardtable .hardsem8 {
    display: none;
 }
}
@media (max-width: 455px) {
  .colortable .colors .colorcol .colorpro {
    margin: 0px;
 }
}
.profmathskills {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 12.4%);
  grid-template-rows: repeat(3, 33px);
  column-gap: 1px;
  row-gap: 11px;
  grid-template-areas: "a b b c d d e e" "a f f g g h h i" "a j j k k k E10 E10";
}
.profmathskills div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
}
.mathsemestr {
  grid-area: a;
  background-color: #c3ced5;
}
.numbermethods {
  grid-area: b;
  background-color: #c09a72;
  color: #fff;
}
.statistic {
  grid-area: c;
  background-color: #c09a72;
  color: #fff;
}
.theorycoding {
  grid-area: d;
  background-color: #c09a72;
  color: #fff;
}
.progcompgraph {
  grid-area: e;
  background-color: #c09a72;
  color: #fff;
}
.combination {
  grid-area: f;
  background-color: #c09a72;
  color: #fff;
}
.proccesses {
  grid-area: g;
  background-color: #c09a72;
  color: #fff;
}
.gametheory {
  grid-area: h;
  background-color: #c09a72;
  color: #fff;
}
.datacsience {
  grid-area: i;
  background-color: #c09a72;
  color: #fff;
}
.methodsoptimisation {
  grid-area: j;
  background-color: #c09a72;
  color: #fff;
}
.garanty {
  grid-area: k;
  background-color: #c09a72;
  color: #fff;
}
.empty10 {
  grid-area: E10;
}
@media (max-width: 765px) {
  .profmathskills {
    grid-template-columns: repeat(3, 33.2%);
    grid-template-rows: repeat(8, 33px);
    grid-template-areas: "a a a" "b f j" "b f j" "c g k" "d g k" "d h k" "e h E10" "e i E10";
 }
}
.profskills {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 12.4%);
  grid-template-rows: repeat(5, 33px);
  column-gap: 1px;
  row-gap: 11px;
  grid-template-areas: "l m m m m bb bb n" "l o o p p q q q" "l s s t t u u v" "l w x x y y E11 E11" "l z z z aa aa aa E12";
}
.profskills div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
}
.softsemestr {
  grid-area: l;
  background-color: #c3ced5;
}
.financial {
  grid-area: m;
  background-color: #ffca93;
}
.finanal {
  grid-area: bb;
  background-color: #ffca93;
}
.sociologic {
  grid-area: n;
  background-color: #ffca93;
}
.economic {
  grid-area: o;
  background-color: #ffca93;
}
.buh1c {
  grid-area: p;
  background-color: #ffca93;
}
.teaching {
  grid-area: q;
  background-color: #ffca93;
}
.economicfinance {
  grid-area: s;
  background-color: #ffca93;
}
.artoftalk {
  grid-area: t;
  background-color: #ffca93;
}
.commerce {
  grid-area: u;
  background-color: #ffca93;
}
.selfmanagement {
  grid-area: v;
  background-color: #ffca93;
}
.psyhology {
  grid-area: w;
  background-color: #ffca93;
}
.culturewriting {
  grid-area: x;
  background-color: #ffca93;
}
.criticalthink {
  grid-area: y;
  background-color: #ffca93;
}
.soccommunication {
  grid-area: z;
  background-color: #ffca93;
}
.orgmanagement {
  grid-area: aa;
  background-color: #ffca93;
}
.empty11 {
  grid-area: E11;
}
.empty12 {
  grid-area: E12;
}
@media (max-width: 765px) {
  .profskills {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(7, 37px);
    grid-template-areas: "l l l" "m q z" "m q z" "bb s w" "n t x" "o u y" "p v aa";
 }
  .empty11, .empty12 {
    display: none;
 }
}
@media (min-width:401px) and (max-width: 765px) {
  .wrapper {
    font-size: 11px;
 }
  div {
    font-size: 11px;
 }
  .titleprof {
    font-size: 14px;
    text-align: left;
    
    padding: 0px;
    width: 100%;
 }
  .titleprof h2 {
    padding: 0px;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 5px;
    width: 90%;
 }

 .mustcources {
  font-size: 22px;
}

  .colortable .colors .colorcol .colorpro {
    margin-bottom: 0px;
 }
}

@media (max-width:400px) {
  .wrapper {
    font-size: 11px;
 }
  div, p {
    font-size: 11px;
 }
  .titleprof {
    font-size: 12px;
    text-align: left;
    padding: 0px;
    width: 100%;
    
 }
 

  .titleprof h2 {
    padding: 0px;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 90%;
    padding-left: 5px;
 }


  .colortable .colors .colorcol .colorpro {
    margin-bottom: 5px;
 }
}

@media (min-width: 766px) and (max-width: 951px) {
  div {
    font-size: 12px;
 }
  .titleprof h2 {
    padding: 0;
    display: flex;
    align-items: center;
    width: 90%;
 }
 .unmustcources {
   font-size: 20px;
 }

 .mustcources {
   font-size: 24px;
 }
}
